<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - DASHBOARD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/external/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <style>
    /* Bootstrap Navbar Requires: */
    body {
      padding-top: 70px;
    }
    </style>

    <link rel="stylesheet" href="/static/external/fontawesome/css/font-awesome.min.css">

    {% block header %}
    <!-- Custom Head Section -->
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/">DASHBOARD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="DropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PV Overviews</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% for page in config.page_hierarchy.top_list %}
                <a class="dropdown-item {{ 'active' if page == req_page else '' }}" href="/list_bs/{{ page }}">{{ config.pages[page].name }}</a>
                <div class="dropdown-divider"></div>
                {% for page in config.page_hierarchy[page] %}
                <a class="dropdown-item {{ 'active' if page == req_page else '' }}" href="/list_bs/{{ page }}">{{ config.pages[page].name }}</a>
                {% endfor %}
                {% if not loop.last %}<div class="dropdown-divider"></div>{% endif %}
              {% endfor %}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GViews</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% for page in config.page_hierarchy.top_gview %}
                <a class="dropdown-item {{ 'active' if page == req_page else '' }}" href="/gview/{{ page }}">{{ config.pages[page].name }}</a>
                <!-- <div class="dropdown-divider"></div>
                {% for page in config.page_hierarchy[page] %}
                <a class="dropdown-item {{ 'active' if page == req_page else '' }}" href="/gview/{{ page }}">{{ config.pages[page].name }}</a>
                {% endfor %} -->
                {% if not loop.last %}<div class="dropdown-divider"></div>{% endif %}
              {% endfor %}
            </div>
          </li>
        </ul>
        <a href="https://www.uni-frankfurt.de/51839311/Working-Group-People" title="IKF-Working Group Prof. Dr. Stroth">
          <img src="/static/images/ikf_logo.png" height="40">
        </a>
      </div>
    </nav>

    <div class="container">

      <div>
        <h1>{{ page_title }}</h1>
        <!-- <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
      </div>
      {% block content %}{% endblock %}

    </div><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/external/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/external/popper/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/static/external/bootstrap/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript">
      {% block js_end_of_page %}
      {% endblock %}
    </script>

  </body>
</html>
