{% extends "base.jinja2" %}

{% block title %}GView  {{ svg }}{% endblock %}

{% block header %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/gview.js"></script>
{% endblock %}

{% block content %}
	<div class="gview">
		<object id="gview" style="margin: 2ex auto; display: block;" class="gview gview-{{ svg }}" data="/static/gview/{{ svg }}.svg" type="image/svg+xml">
		Your browser doesn't support SVG
		</object>
	</div>
{% endblock %}

{% block js_end_of_page %}
var update_every_ms = 2050;

function timedUpdate() {
  updateStatus();
  setTimeout(function() {
    timedUpdate();
  }, update_every_ms);
};

$(function() {
  // on page load
  updateStatus();
  setTimeout(function() {
    timedUpdate();
  }, update_every_ms);
});
{% endblock %}
