{% extends "base_bootstrap.jinja2" %}

{% block title %}PV Details {{ pv_name }}{% endblock %}

{% block header %}
<meta http-equiv="refresh" content="15">
<link rel="stylesheet" href="/static/css/sparkline.css">
<script src="/static/external/d3/d3.v4.min.js"></script>
<script src="/static/js/sparkline.js"></script>
<style>
.details-list .row-striped {
  border-bottom: 1px solid #fff;
}
.row-striped:nth-of-type(odd){
  background-color: #cbddfa;
}
.row-striped:nth-of-type(even){
  background-color: #b8d6ff;
}
</style>
{% endblock %}

{% block content %}
{% set PV = config.PVs[config.PV_lookup[pv_name]] %}
<h4>Process Variable Details</h4>
<h3>{{ PV.alias or pv_name }}</h3>
{% if PV.alias %}<h5>{{ pv_name }}</h5>{% endif %}
<div class="pv-block value indicator {{ PV.classes }}">
	<div class="error"></div>
	<div class="value-unit-box" style="display: inline-block;">
		Current Value: <span class="value">
		{% if 'switch' in PV.classes %}
			<label class="toggle">
				<input type="checkbox" disabled readonly {{ 'checked' if 'ON' in PV.value else '' }}>
				<span data-unchecked="OFF" data-checked="ON"></span>
			</label>
		{% else %}
        		{% if PV.precision is number %}
				{{ ("%."+PV.precision|string +"f") % PV.value }}
			{% else %}
				{{ PV.value }}
			{% endif %}
		{% endif %}
		</span>
		<span class="unit">{{ PV.unit }}</span>
	</div>
	<div id="sparkline-{{ PV.name|replace(':','-') }}" class="sparkline"></div></td>
	<div class="details-list container">
		{% for key in PV %}
		<div class="details-set row row-striped">
			<div class="col col-md-6 details-set-key"  >{{ property_name_mapping[key] or key }}{% if key in epics_ioc_terminology %} ({{epics_ioc_terminology[key]}}){%endif%}</div>
			<div class="col col-md-6 details-set-value break-word">
				{{ PV[key]|string }}
				{% if key == 'name' %}
					<div style="float: right">
						<button type="button" class="btn btn-sm btn-outline-primary btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="{{ PV.name }}" title="Copy PV name to clipboard">
							<i class="fa fa-clipboard"></i>
						</button>
					</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


{% block js_end_of_page %}
/*
$(function() {
  // on page load
  updateSparklines();
});
*/
updateSparklines();
{% endblock %}
