{% extends "base.jinja2" %}

{% block title %}{{ config.pages[req_page].name }}{% endblock %}

{% block header %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
		<div id="PVs">
			{% set page = config.pages[req_page] %}
			{% for group in page.groups %}
			{% set this_group = config.groups[group] %}
			<div id="{{ this_group.name }}">
				<h2>{{ this_group.name }}</h2>
					 <table style="width:100%">
						<colgroup>
							<col span="1" style="width: 60%;">
							<col span="1" style="width: 25%;">
							<col span="1" style="width: 15%;">
						</colgroup>
						<tr>
							<th>Process Variable</th>
							<th>Value</th>
							<th>Unit</th>
						</tr>
						{% for pv_name in this_group.PVs %}
						{% set PV = config.PVs[config.PV_lookup[pv_name]] %}
						<tr style="cursor: pointer;" title="{{ PV.alias }}">
							<td>{{ PV.name }}</td>
							<td class="{{ PV.classes }}">
								{% if 'switch' in PV.classes %}
									<label class="toggle">
										<input type="checkbox" disabled readonly {{ 'checked' if 'ON' in PV.value else '' }}>
										<span data-unchecked="OFF" data-checked="ON"></span>
									</label>
								{% else %}
                                                                	{% if PV.precision is number %}
										{{ ("%."+PV.precision|string +"f") % PV.value }}
									{% else %}
										{{ PV.value }}
									{% endif %}
								{% endif %}
							</td>
							<td>{{ PV.unit }}</td>
						</tr>
						{% endfor %}
					</table>
			</div>
			{% endfor %}
		</div>
{% endblock %}
