{% extends "base_bootstrap.jinja2" %}

{% block title %}{{ config.pages[req_page].name }}{% endblock %}

{% block header %}
<meta http-equiv="refresh" content="15">
<link rel="stylesheet" href="/static/css/sparkline.css">
<script src="/static/external/d3/d3.v4.min.js"></script>
<script src="/static/js/sparkline.js"></script>
{% endblock %}

{% block content %}
		<div id="PVs">
			{% set page = config.pages[req_page] %}
			{% for group in page.groups %}
			{% set this_group = config.groups[group] %}
			<div id="{{ this_group.name }}">
				<h2>{{ this_group.name }}</h2>
				{% for pv_name in this_group.PVs %}
				{% set PV = config.PVs[config.PV_lookup[pv_name]] %}
				{% if loop.index0 % 3 == 0 %}
				<div class="row">
				{% endif %}
					<div class="col-md-4">
					<div class="pv-block value indicator {{ PV.classes }}">
						<div class="error"></div>
						<div class="pvname" style="overflow-wrap:break-word;">{{ PV.alias or PV.name }}</div>
						<div class="btn-group">
							<a class="btn btn-sm btn-outline-primary btn-pv js-tooltip" data-toggle="tooltip" data-placement="bottom" href="/pv/{{ PV.name }}" title="{{ PV.name }}"><i class="fa fa-info"></i></a>
							<button type="button" class="btn btn-sm btn-outline-primary btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="{{ PV.name }}" title="Copy PV name to clipboard">
								<i class="fa fa-clipboard"></i>
							</button>
						</div>
						<div class="value-unit-box" style="display: inline-block;">
							<span class="value">
							{% if 'switch' in PV.classes %}
								<label class="toggle">
									<input type="checkbox" disabled readonly {{ 'checked' if PV.value in (1, 'ON') else '' }}>
									<span data-unchecked="OFF" data-checked="ON"></span>
								</label>
							{% else %}
                                                		{% if PV.precision is number %}
									{{ ("%."+PV.precision|string +"f") % PV.value }}
								{% else %}
									{{ PV.value }}
								{% endif %}
							{% endif %}
							</span>
							<span class="unit">{{ PV.unit }}</span>
						</div>
						<div id="sparkline-{{ PV.name|replace(':','-') }}" class="sparkline"></div>
                                	</div>
                                	</div>
				{% if (loop.index0 % 3 == 2) or loop.last %}
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
{% endblock %}


{% block js_end_of_page %}
$(function() {
  /* on page load */

  // create sparklines
  updateSparklines(300, 60);

  // Tooltips (requires Bootstrap >3)
  $('.js-tooltip').tooltip();

  // Copy to clipboard
  $('.js-copy').click(function() {
    var text = $(this).attr('data-copy');
    var el = $(this);
    copyToClipboard(text, el);
  });
});
{% endblock %}
