<html>
	<head>
		<title>PRESTO - OVERVIEW</title>
		<!-- <meta http-equiv="refresh" content="10;URL= "file:///run/media/oartz/GREENZONE/Bachelorarbeit/WEBSITE/PRESTO_WEBSITE.html"> -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>
	<div id="container">
		<div class="header">
			<a href="http://www.uni-frankfurt.de/45043072/IKF?legacy_request=1"><img src="/static/images/ikf_logo.png" alt="logo" class="ikf"/></a>
			<a href="http://www.fair-center.eu/for-users/experiments/cbm-and-hades/cbm.html"><img src="/static/images/cbm_logo.png" alt="logo" class="cbm"/></a>
			<h1>PRESTO - Overview<br/> Prototype of the Second Station of the Micro Vertex Detector of the Compressed Baryonic Matter</h1>
		</div>
		<div id="PVs">
			{% for group in groups %}
			<div id="{{ group.name }}">
				<h2>{{ group.name }}</h2>
					 <table style="width:100%">
						<colgroup>
							<col span="1" style="width: 60%;">
							<col span="1" style="width: 25%;">
							<col span="1" style="width: 15%;">
						</colgroup>
						<tr>
							<th>Process Variable</th>
							<th>Value</th>
							<th>Unit</th>
						</tr>
						{% for PV in group.PVs %}
						<tr>
							<td>{{ PV.name }}</td>
							<td class="{{ PV.classes }}">{{ PV.value }}</td>
							<td>{{ PV.unit }}</td>
						</tr>
						{% endfor %}
					</table>
			</div>
			{% endfor %}
		</div>
<hr/>
		<div id="footnote">
		Copyright &copy;<a href="mailto:ole.artz@stud.uni-frankfurt.de">Ole Artz</a>, Philipp Klaus, 
		<a href="https://www.uni-frankfurt.de/51839311/Working-Group-People">IKF-Working Group Prof. Dr. Stroth</a>
		</div>
	</div>	
	<script type="text/javascript" src="/static/js/script.js"></script>
		</body>

</html>

