{% extends "base.jinja2" %}

{% block title %}{{ config.pages[req_page].name }}{% endblock %}

{% block header %}
<meta http-equiv="refresh" content="5">
<style>
path {
  stroke-width: 1;
  fill: none;
}
label {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-family: sans-serif;
}
.focus circle {
  fill: none;
  stroke: steelblue;
}
.overlay {
  fill: none;
  pointer-events: all;
}
</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/sparkline.js"></script>
{% endblock %}

{% block content %}
		<div id="PVs">
			{% set page = config.pages[req_page] %}
			{% for group in page.groups %}
			{% set this_group = config.groups[group] %}
			<div id="{{ this_group.name }}">
				<h2>{{ this_group.name }}</h2>
					 <table style="width:100%">
						<colgroup>
							<col span="1" style="width: 55%;">
							<col span="1" style="width: 15%;">
							<col span="1" style="width: 10%;">
							<col span="1" style="width: 20%;">
						</colgroup>
						<tr>
							<th>Process Variable</th>
							<th>Value</th>
							<th>Unit</th>
							<th>Sparkline</th>
						</tr>
						{% for pv_name in this_group.PVs %}
						{% set PV = config.PVs[config.PV_lookup[pv_name]] %}
						<tr style="cursor: pointer;" title="{{ PV.alias }}">
							<td>{{ PV.name }}</td>
							<td class="{{ PV.classes }}">
								{% if 'switch' in PV.classes %}
									<label class="toggle">
										<input type="checkbox" disabled readonly {{ 'checked' if 'ON' in PV.value else '' }}>
										<span data-unchecked="OFF" data-checked="ON"></span>
									</label>
								{% else %}
                                                                	{% if PV.precision is number %}
										{{ ("%."+PV.precision|string +"f") % PV.value }}
									{% else %}
										{{ PV.value }}
									{% endif %}
								{% endif %}
							</td>
							<td>{{ PV.unit }}</td>
							<td><div id="sparkline-{{ PV.name|replace(':','-') }}" class="sparkline"></div></td>
						</tr>
						{% endfor %}
					</table>
			</div>
			{% endfor %}
		</div>
{% endblock %}


{% block js_end_of_page %}
$(function() {
  // on page load
  updateSparklines();
});
{% endblock %}
