#container{
  background-color: white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header .cbm {
  padding-left: 5px;
  position: relative;
  bottom: -5px;
  float: left;
  height: 120px;  /*orginal 324px*/
}
.header .ikf {
  padding-right: 5px;
  position: relative;
  bottom: -5px;
  float: right;
  height: 120px; /*orginal 327px*/
} 

.header h1 {
  position: center;
  left: 30px;
  background-color: #0509fc;
  color: white;
  height: 130px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

table, th {
  text-align: left;
}

/* MENU_BAR*/
.menu_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0509fc;
}

.menu_bar a {
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_bar a:hover:not {
  background-color: #111;
}

.menu_bar {
  cursor: pointer;
}
.active {
  background-color:#4CAF50;
}
/* ALARMS */
.invalid_alarm:after {
  content: "- invalid -";
  position: relative;
  float: right;
  color: #0091FF;
}
.invalid_alarm {
  border: 3px solid #0091FF;
}

.minor_alarm:after {
  content: "- MINOR -";
  position: relative;
  float: right;
  color: #FF6F00;
}
.minor_alarm {
  border: 3px solid #FF6F00;
}
.major_alarm:after {
  content: "- MAJOR -";
  position: relative;
  float: right;
  color: #FF0000;
}
.major_alarm {
  border: 3px solid #FF0000;
}

.disconnected {
  border: 3px solid #EBFF00;
}

/* TOGGLE ON/OFF */
.toggle {
  overflow: hidden;
  display: inline-block;
  width: 8em;
  padding: 0.125em;
  border: solid 2px #5E5E5E;
}
.toggle input {
  position: absolute;
  visibility: hidden;
}
.toggle span {
  position: relative;
  left: 0%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  
  -webkit-transition: left 200ms ease-out;
     -moz-transition: left 200ms ease-out;
       -o-transition: left 200ms ease-out;
          transition: left 200ms ease-out;
}
.toggle :checked + span {
  left: 50%;
}

.toggle span:before {
  content: attr(data-unchecked);
  display: block;
  width: 50%;
  background-color: #525252;
  border-radius: 0.15em;
  box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: white;
}

.toggle :checked + span:before {
  content: attr(data-checked);
  background-color: #0099CC;
}
