body {
  font-family: Tahoma, Geneva, sans-serif;
}

#container{
  background-color: white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header .cbm {
  padding-left: 5px;
  position: relative;
  bottom: -5px;
  float: left;
  height: 120px;  /*orginal 324px*/
}
.header .ikf {
  padding-right: 5px;
  position: relative;
  bottom: -5px;
  float: right;
  height: 120px; /*orginal 327px*/
} 

.header h1 {
  position: center;
  left: 30px;
  background-color: #0509fc;
  color: white;
  height: 130px;
  text-align: center;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0px;
}

th, td {
  border: 1px solid black;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 4px;
}
th {
  border-bottom: 1.5px solid black;
  border-top-width: 0;
}

table, th {
  text-align: left;
}

td.value, th.value_header {
  text-align: center;
}

td.value span.value {
  float: left;
  width: 70%;
  text-align: right;
}
td.value span.unit {
  float: right;
  width: 28%;
  text-align: left;
  padding-left: .1em;
}

div.error {
  text-align: center;
}

/* MENU_BAR*/
.menu_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0509fc;
}

.menu_bar a {
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_bar a:hover:not {
  background-color: #111;
}

.menu_bar {
  cursor: pointer;
}
.active {
  background-color:#4CAF50;
}

/* ALARMS */
.invalid_alarm .indicator,
.minor_alarm .indicator,
.major_alarm .indicator,
.disconnected .indicator,
.invalid_alarm.indicator,
.minor_alarm.indicator,
.major_alarm.indicator,
.disconnected.indicator {
  border: 4px solid;
}

/* invalid */
.invalid_alarm .error:before {
  content: "- invalid -";
  color: #0091FF;
}
.invalid_alarm .indicator,
.invalid_alarm.indicator {
  border-color: #0091FF;
}

/* minor */
.minor_alarm .error:before {
  content: "- MINOR -";
  color: #FF6F00;
}
.minor_alarm .indicator,
.minor_alarm.indicator {
  border-color: #FF6F00;
}

/* major */
.major_alarm .error:before {
  content: "- MAJOR -";
  color: #FF0000;
}
.major_alarm .indicator,
.major_alarm.indicator {
  border-color: #FF0000;
}

/* disconnected */
.disconnected .error:before {
  content: "- disconnected -";
  color: #FF0000;
}
.disconnected .indicator,
.disconnected.indicator {
  border-color: #EBFF00;
}

/* TOGGLE ON/OFF */
.toggle {
  overflow: hidden;
  display: inline-block;
  width: 5em;
  padding: 0.125em;
  border: solid 2px #5E5E5E;
  vertical-align: middle;
  margin-bottom: 0;
}
.toggle input {
  position: absolute;
  visibility: hidden;
}
.toggle span {
  position: relative;
  left: 0%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  
  -webkit-transition: left 200ms ease-out;
     -moz-transition: left 200ms ease-out;
       -o-transition: left 200ms ease-out;
          transition: left 200ms ease-out;
}
.toggle :checked + span {
  left: 50%;
}

.toggle span:before {
  content: attr(data-unchecked);
  display: block;
  width: 50%;
  background-color: #525252;
  border-radius: 0.15em;
  box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: white;
}

.toggle :checked + span:before {
  content: attr(data-checked);
  background-color: #0099CC;
}

#heartbeat.inactive {
  background-color: #666;
}
#heartbeat.ok {
  background-color: #0d2;
}
#heartbeat.warning {
  background-color: #f44;
}

.pv-block {
  border-radius: 10px;
  border: 1.5px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}
.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: #000;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-top;
}
.btn-copy {
  cursor: pointer;
}
