#container{
  background-color: white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header img {
  float: left;
  width: 93px; <!-- orignal 250px-->
  height: 120px; <!-- orginal 324px-->
}
.header h1 {
  position: center;
  left: 30px;
  background-color: #0509fc;
  color: white;
}
.Cooling table, th, td {
  border: 1px solid black;
}
.Cooling table, th {
  text-align: left;
}
.invalid_alarm {
  background-color: red;
}
